<%- include("templates/header") %>
<main>
<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="/img/boykisser.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">BoyKisser</h5>
            <p class="card-text">
                A cute fluffy boi who sometimes acts weird around boys.
                <br><br>SM Lore:
                In the year 2000, a couple consisting of a cosmic energy and human organic energy gave birth to a child named Gabriel Martinez. Gabriel, who was a human half-fox, possessed great intelligence and was a fun person to be around.</p>
            <p class="card-text"><small class="text-muted">Last updated 23 years ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/img/cuteFleurSketch.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Aurora</h5>
            <p class="card-text">
                One of Fleur's art works. The combination of happiness and joy.
                <br><br>SM Lore:
                The planet description says, 'StormThorn, a planet with dangerous spikes of ice and snow glaciers.</p>
            <p class="card-text"><small class="text-muted">Last updated 1 year ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/img/iconicfluff.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Fluke</h5>
            <p class="card-text">
                Iconic and old background.
                <br><br>SM Lore:
                Deep within the cosmos, in the Starless Void, there exists an old alternate universe known as the Twisted Realm. It is considered to be the opposite of the Ultra-Verse, and has existed since the first dust was established to create the void.</p>
            <p class="card-text"><small class="text-muted">Last updated 1,000 centuries ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/img/peace.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Laura</h5>
            <p class="card-text">
                Twokinds' Laura relaxing on top of a rooftop.
                <br><br>SM Lore:
                Over time, [REDACTED]'s desire for power grew more intense, and she began to associate with darker forces. </p>
            <p class="card-text"><small class="text-muted">Last updated 45 centuries ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/img/sleepingGamer.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">A Sleeping Laura</h5>
            <p class="card-text">
                Twokinds' Laura fell asleep after gaming all night.
                <br><br>SM Lore:
                The people of the kingdom were awestruck by Arin's transformation, and they began to call him "Terminus" - a name that would become synonymous with power, strength, and courage.</p>
            <p class="card-text"><small class="text-muted">Last updated 123 years ago</small></p>
        </div>
    </div>
</div>
</main>
<%- include("templates/footer") %>