<%- include("templates/header") %>
    <div style="background-image: url('<%= picture %>'); height: 100%; background-size: contain; background-position: center">
    </div>
<%- include("templates/footer") %>